/vendor/
.env
config.json
inference-servers/mcp/mcp-config.json
spoiler_words.txt
/data/
train/outputs
train/prepare-dataset
train/unsloth_compiled_cache
train/train-telegram7.py
unusedmodels.jsonc
.phpunit.cache
.idea/
__pycache__/
